@{
    ViewBag.Title = "Home Page";
}

<meta http-equiv="refresh" content="10; URL=http://medphysics/barometry">

<div class="nhsuk-width-container">
    <br />

    <div class="nhsuk-card nhsuk-card--feature">
        <div class="nhsuk-card__content nhsuk-card__content--feature">
            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                Atmospheric Pressure Information
            </h2>

            <p class="nhsuk-card__description">

                <h3>@ViewBag.b2time</h3>


                <!-- Medical Physics Barometer Card-->
                <ul class="nhsuk-grid-row nhsuk-card-group">
                    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                                    Medical Physics Department
                                </h2>
                                <p class="nhsuk-card__description">
                                    @ViewBag.b1mBar
                                    <br/> 
                                    @ViewBag.b1mmHg
                                <p>
                                    <br />Druck DPI 142
                                    <br />Serial No: 001986506
                                    <br />Barometer IP: 10.115.16.17
                                    <br /> Last Calibration: 01/11/2023
                                </p>
            </p>
        </div>
    </div>

    </li>
    <!-- Endeavour Unit Barometer CArd -->
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card bg-info">
            <div class="nhsuk-card__content bg-info">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    Endeavour Unit
                </h2>
                <p class="nhsuk-card__description">
                    @ViewBag.b2 mBar
                    <br />
                    @ViewBag.b2mmHg mmHg
<p>
                    <br />Druck Pace 1001
                    <br />Serial No: 12368670
                    <br /> Barometer IP: 10.115.46.84
                    <br /> Last Calibration: 08/08/2022
                </p>
                </p>
            </div>
        </div>

    </li>
    </ul>


    </p>
</div>
    </div>

<!-- Inset Reminder to check date/time-->


<div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>
    <p>Ensure that you confirm date and time of readings</p>
</div>

</div>